*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  margin: 0
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%
}

input,
button,
textarea,
select {
  font: inherit
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word
}

p {
  text-wrap: pretty
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance
}

#root,
#__next {
  isolation: isolate
}

:root {
  /* breakpoint */
  --desktop-width: 1440px;
  --mobile-width: 375px;

  /* primary */
  --clr-lime: hsl(61, 70%, 52%);
  --clr-red: hsl(4, 69%, 50%);

  /* slate colors */
  --clr-slate-100: hsl(202, 86%, 94%);
  --clr-slate-300: hsl(203, 41%, 72%);
  --clr-slate-500: hsl(200, 26%, 54%);
  --clr-slate-700: hsl(200, 24%, 40%);
  --clr-slate-900: hsl(202, 55%, 16%);
  --clr-slate-1000: hsl(202, 56%, 13%);

  /* font-size */
  --fz-subtitle: 0.875rem;
  /* 14px */
  --fz-primary: 1rem;
  /* 16px */
  --fz-header: 1.5rem;
  /* 24px */
  --fz-results: 2rem;

  /* font family */
  --ff-primary: "Plus Jakarta Sans", sans-serif;

  /* font weight */
  --fw-regular: 500;
  --fw-bold: 700;

}

/* pseudo classes */
.hidden {
  display: none !important;
}

* {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fz-primary);
  color: var(--clr-slate-700);
}

.form {
  margin: 1.75rem 1.25rem
}

.form__header {
  padding-bottom: 1.75rem
}

.form__header__title {
  color: var(--clr-slate-900);
  font-weight: var(--fw-bold);
  font-size: var(--fz-header)
}

.form__main {
  flex-direction: column;
  display: flex;
  gap: 1.25rem
}

.form__main__input input[type="number"] {
  color: var(--clr-slate-900);
}

.form__main__input h2 {
  font-size: var(--ff-primary);
  padding-bottom: 0.5rem
}

.input {
  overflow: hidden;
  border: 1px solid var(--clr-slate-900);
  background-color: var(--clr-slate-100);
  border-radius: .25rem;
  display: flex;
  width: 100%;
}

.input span {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.form__main__input input[type=number] {
  padding: 0.5rem 1rem 0.5rem 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  outline: none;
  border: none;
  width: 100%;
}

.mortgage_type {
  flex-direction: column;
  display: flex;
  gap: 0.75rem;
}

.form__main__input__repayment,
.form__main__input__interest-only {
  border: 1px solid var(--clr-slate-900);
  padding: 0.5rem 0.75rem;
  border-radius: .25rem;
  align-items: center;
  display: flex;
}

.form__main__input__repayment label,
.form__main__input__interest-only label {
  font-size: var(--fz-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-slate-900);
  padding-left: 1rem;
}

input[type="radio"] {
  border: 1.5px solid var(--clr-slate-900);
  transform: translateY(-0.075em);
  background: transparent;
  place-content: center;
  color: currentColor;
  border-radius: 50%;
  appearance: none;
  display: grid;
  font: inherit;
  height: 1rem;
  width: 1rem;
  margin: 0;
}

input[type="radio"]::before {
  background: var(--clr-lime);
  transform: scale(0);
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  content: "";
}

input[type="radio"]:checked {
  border: 2px solid var(--clr-lime);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* 
DESKTOP VERSION

.input:focus-within {
  border-color: var(--clr-lime);
} 
*/

.form__main__calc-btn {
  background-color: var(--clr-lime);
  color: var(--clr-slate-900);
  font-weight: var(--fw-bold);
  justify-content: center;
  border-radius: 2rem;
  padding: 0.75rem 0;
  display: flex;
  gap: 0.75rem;
  width: 100%;
  border: none;
}

.results .results__empty {
  background-color: var(--clr-slate-900);
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 1rem;
  text-align: center;
  display: flex;
  gap: 1rem;
}

.results .results__empty img {
  display: block;
  margin: auto;
  width: 60%;
}

.results h1 {
  font-size: var(--fz-header);
  font-weight: var(--fw-bold);
  color: white;
}

.results p {
  color: var(--clr-slate-500);
  font-size: var(--fz-primary);
}

.results .results__full {
  background-color: var(--clr-slate-900);
  padding: 2rem 1.5rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.calculation_results table {
  background-color: var(--clr-slate-1000);
  border-top: 3px solid var(--clr-lime);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.calculation_results tr:nth-child(1) td {
  border-bottom: 0.5px solid var(--clr-slate-500);
  padding: 0.5rem 0;
}


.calculation_results h2 {
  font-size: var(--fz-primary);
  color: var(--clr-slate-500);
}

.calculation_results td {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  padding: 0.5rem 0;
}

.calculation_results tr:nth-child(1) span {
  font-size: var(--fz-results);
  font-weight: var(--fw-bold);
  color: var(--clr-lime);
}

.calculation_results tr:nth-child(2) span {
  font-size: var(--fz-header);
  font-weight: var(--fw-bold);
  color: white;
}

.calculation_results span::before {
  content: "£";
}

.calculation_results span {
  padding: 0rem;
}