*,
*::before,
*::after {
  box-sizing: border-box
}

* {
  margin: 0
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%
}

input,
button,
textarea,
select {
  font: inherit
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word
}

p {
  text-wrap: pretty
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance
}

#root,
#__next {
  isolation: isolate
}

:root {
  /* breakpoint */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* primary */
  --clr-lime: hsl(61, 70%, 52%);
  --clr-red: hsl(4, 69%, 50%);

  /* slate colors */
  --clr-slate-100: hsl(202, 86%, 94%);
  --clr-slate-300: hsl(203, 41%, 72%);
  --clr-slate-500: hsl(200, 26%, 54%);
  --clr-slate-700: hsl(200, 24%, 40%);
  --clr-slate-900: hsl(202, 55%, 16%);

  /* font-size */
  --fz-subtitle: 0.875rem;
  /* 14px */
  --fz-primary: 1rem;
  /* 16px */
  --fz-header: 1.5rem;
  /* 24px */

  /* font family */
  --ff-primary: "Plus Jakarta Sans", sans-serif;

  /* font weight */
  --fw-regular: 500;
  --fw-bold: 700;

}

* {
  font-family: var(--ff-primary);
  font-size: var(--fz-primary);
  color: var(--clr-slate-700);
  font-weight: var(--fw-regular)
}

.form {
  margin: 1.75rem 1.25rem
}

.form__header {
  padding-bottom: 1.75rem
}

.form__header__title {
  color: var(--clr-slate-900);
  font-weight: var(--fw-bold);
  font-size: var(--fz-header)
}

.form__main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}

.form__main__input input[type="number"] {
  color: var(--clr-slate-900);
}

.form__main__input h2 {
  font-size: var(--ff-primary);
  padding-bottom: 0.5rem
}



.input {
  display: flex;
  width: 100%;
  border: 1px solid var(--clr-slate-900);
  background-color: var(--clr-slate-100);
  border-radius: .25rem;
}

.input span {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.form__main__input input[type=number] {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.mortgage_type {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form__main__input__repayment,
.form__main__input__interest-only {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-slate-900);
  border-radius: .25rem;
  padding: 0.5rem 0.75rem;
}

.form__main__input__repayment label,
.form__main__input__interest-only label {
  color: var(--clr-slate-900);
  font-size: var(--fz-primary);
  font-weight: var(--fw-bold);
  padding-left: 1rem;
}

.form__main__calc-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  color: var(--clr-slate-900);
  background-color: var(--clr-lime);
  border-radius: 2rem;
  border: none;
  padding: 0.75rem 0;
  font-weight: var(--fw-bold);
}

.results {
  padding: 1.5rem 1rem;
  background-color: var(--clr-slate-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.results img {
  display: block;
  width: 60%;
  margin: auto;
}

.results h1 {
  font-size: var(--fz-header);
  font-weight: var(--fw-bold);
  color: white;
}

.results p {
  color: var(--clr-slate-500);
  font-size: var(--fz-primary);
}

input[type="radio"] {
  appearance: none;
  background: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  border: 1.5px solid var(--clr-slate-900);
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translateY(-0.075em);
}

input[type="radio"]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--clr-lime);
  transform: scale(0);
}

input[type="radio"]:checked {
  border: 2px solid var(--clr-lime);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}