/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}
:root {
	/* Screen widths */
	--width-mobile: 375px;
	--width-desktop: 1440px;

	/* Primary */
	--color-lime: hsl(61, 70%, 52%);
	--color-red: hsl(4, 69%, 50%);

	/* Neutral */
	--color-white: hsl(0, 0%, 100%);
	--color-slate-100: hsl(202, 86%, 94%);
	--color-slate-300: hsl(203, 41%, 72%);
	--color-slate-500: hsl(200, 26%, 54%);
	--color-slate-700: hsl(200, 24%, 40%);
	--color-slate-900: hsl(202, 55%, 16%);

	/* Font size */
	--font-size-paragraph: 16px;

	/* Font family */
	--font-family-primary: "Plus Jakarta Sans", sans-serif;

	/* Font weights */
	--font-weight-bold: 700;
	--font-weight-medium: 500;
}

/* Usage example */
body {
	background-color: var(--color-slate-100);
}

.container {
	background-color: var(--color-white);
}
